extends layout
include includes/post
include includes/pagination

block title
  title= label('Homepage') + " - " + config.site.title

block banner-image
  img.intro-img(src="/images/banner-bg-3.jpg")

block content
  #main.postlist(role="main")
    each post in posts
      mixin post(post, true)
    mixin pagination(postId)

block scripts
  script
    history.replaceState('postlist');
